
header, main, footer {
  width: 760px;
  margin: 0 auto;
}
header > div {
  padding: 20px;
}
header section, header section img {
  float: left;
}


 nav {
  float: right;
  
}
#name

.wide {
  background-image: url('../img/hr-img.png');
  border-width: 5px;
  background-repeat: space;
  margin: 0;
}
#hrLogo {
  text-align: center;
  line-height: 1px;
  overflow: visible;

}
#hrLogo:after {
  background: url('../img/small-logo.png');
  content: '';
  margin: -20px auto 0;
  background-color: #454545; /* same as background color */
  padding: 8px 15px;
}

main section > img {
  width: 100%;
}

.text {
  text-indent: 50px;
}

ul {
  float: left
}
article.list {
  background-image: url('../img/list-bg.png');
}


footer section img{
  float: left;
}
footer section button {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
header div section p:last-child{
  color: #949393;
  margin: -28px 0px 0px 50px;
  font-size: 8px;
}
#nameWeb{
  margin: 0 0 34px 48px;
  font-size: x-large;
}
main section div p {
  color: #949393;
}
#print{
  text-align: right;
}
footer section:last-child{
  text-align: center;
}
button{
  background-color: #bb5858;
}